<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="name">Имя:</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      ngModel
      required
      #name="ngModel"/>
    <small
      *ngIf="name.touched && name.errors?.required"
      class="form-text invalid-form-text"
    >Введите имя</small>
  </div>

  <div class="form-group">
    <label for="surname">Фамилия:</label>
    <input
      type="text"
      name="surname"
      id="surname"
      class="form-control"
      ngModel
      required
      #surname="ngModel"/>
    <small
      *ngIf="surname.touched && surname.errors?.required"
      class="form-text invalid-form-text"
    >Введите фамилию</small>
  </div>

  <div class="form-group">
    <label for="patronymic">Отчество:</label>
    <input
      type="text"
      name="patronymic"
      id="patronymic"
      class="form-control"
      ngModel
      required
      #patronymic="ngModel"/>
    <small
      *ngIf="patronymic.touched && patronymic.errors?.required"
      class="form-text invalid-form-text"
    >Введите отчество</small>
  </div>

  <div class="form-group">
    <label for="phone">Номер телефона:</label>
    <input
      type="text"
      name="phone"
      id="phone"
      class="form-control"
      ngModel
      required
      appPhone
      #phone="ngModel"/>
    <small
      *ngIf="phone.touched && phone.errors?.required"
      class="form-text invalid-form-text"
    >Введите номер телефона</small>
    <small
      *ngIf="phone.touched && phone.errors?.phone"
      class="form-text invalid-form-text"
    >Номер телефона должен содеражать минимум 10 цифр (без пробелов, дефисов) Пример: 0555333333</small>
  </div>

  <div class="form-group">
    <label for="job">Место работы/учебы:</label>
    <input
      type="text"
      name="job"
      id="job"
      class="form-control"
      ngModel
      required
      #job="ngModel"/>
    <small
      *ngIf="job.touched && job.errors?.required"
      class="form-text invalid-form-text"
    >Укажите место учебы/работы</small>
  </div>

  <div class="form-group">
    <span class="d-block mb-2">Вариант футболки:</span>
    <div>
      <label for="male">Мужская</label>
      <input
        type="radio"
        name="selectType"
        id="male"
        class="mr-3 ml-2"
        value="male"
        ngModel
        required
        #selectType="ngModel"
      />
      <label for="female">Женская</label>
      <input
        type="radio"
        name="selectType"
        id="female"
        class="ml-2"
        value="female"
        ngModel
        #selectType="ngModel"
      />
      <small
        *ngIf="selectType.errors?.required"
        class="form-text invalid-form-text"
      >Выберите один из вариантов</small>
    </div>
  </div>

  <div class="form-group">
    <label for="size">Размер футболки:</label>
    <select
      id="size"
      name="size"
      class="form-control"
      ngModel
      required
      #size="ngModel"
    >
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
    </select>
    <small
      *ngIf="size.touched && size.errors?.required"
      class="form-text invalid-form-text"
    >Выберите нужный размер</small>
  </div>

  <div class="form-group">
    <label for="comment">Коментрарии:</label>
    <textarea
      id="comment"
      name="comment"
      class="form-control"
      ngModel
      required
      maxlength="300"
      #comment="ngModel"
    ></textarea>
    <small
      *ngIf="comment.touched && comment.errors?.required"
      class="form-text invalid-form-text"
    >Напишите комментарий</small>
    <small
      *ngIf="comment.touched && comment.errors?.maxlength"
      class="form-text invalid-form-text"
    >Комментарий не должен превышать 300 символов</small>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
  >Save</button>
</form>
